h1 {
  font-family: 'Permanent Marker';
  text-decoration: underline;
  text-align: center;
  color: blue;
  font-weight: 200;
}
h3 {
  text-align: center;
}
table{
  background-color: gainsboro;
  border: 2px solid red;
  width: fit-content;
  margin: 0 auto;
}
#tableheader {
  background-color: indianred;
}
tr {
  line-height: 1.5;
}
.column {
  background-color: mediumaquamarine;
  font-family: monospace;
}
