h1 {
  font-weight: 700;
  font-size: 30px;
}
h2 {
  text-align: center;
  font-size: 26px;
  font-weight: 500;
}
.colors {
  border: 2px solid lightgray;
  box-sizing: border-box;
  width: 100%;
  display: block;
}
.colors div {
    display: inline-block;
    text-align: center;
    position: relative;
    width: 33%;
    color:white;
    margin: 10px 0px;
}
.colors div.red {
  background-color: red;
  float: left;
   margin: 10px .5% 10px 0px;
}
.blue {
  background-color: blue;
  position: absolute;
}
.green {
  background-color: green;
  float: right;
}
.fonts {
  border: 2px solid lightgray;
  box-sizing: border-box
  width: 100%;
  margin: 10px auto;
}
.permanentmarker {
  font-family: "Permanent Marker";
}
.permanentmarker h3 {
  text-decoration: underline;
}
.pm400 {
  font-family: "Permanent Marker";
}
.pmbold {
  font-weight: bold;
}
.pmitalics {
  font-style: italic;
}
.fonts div {
  display: inline-block;
  width: 49.78%;
  text-align: center;
}
.quicksand {
  font-family: "Quicksand";
}
.quicksand h3 {
  text-decoration: underline;
}
.qsbold {
  font-weight: bold;
}
.qsitalics {
  font-style: italic;
}
.youngserif {
  font-family: "Young Serif";
}
.youngserif h3 {
  text-decoration: underline;
}
.ysbold {
  font-weight: bold;
}
.ysitalics {
  font-style: italic;
}
.textstyles {
  border: 2px solid lightgray;
}
.textstyles div {
  margin: 10px 10px;
}
.txth2 {
  text-align: left;
}
